 body{
}
/* -------------------------------- Main Components -------------------------------- */
 .mapdiv {
     width: 80%;
     margin: 0 auto;
     padding: 80px;
}
 .mapdiv path{
     fill:#e6f2ff;
     stroke: #000000;
     stroke-width:0.70px;
     transition:fill 0.2s;
}
 .mapdiv :hover{
     fill:#0D4D6C ;
     font-size: 150%;
}
 .page2{
     background-color: #ABDCFB ;
}
 .page3{
     background-color: #ABDCFB ;
}
/* Create columns that floats next to each other */
 .column {
     float: left;
     padding: 10px;
}
/* Left and right column */
 .column.side {
     width: 27%;
     padding: 100px;
    /*padding: 220px;
    */
}
 .column.middle {
     width: 73%;
    /* padding: 100px;
    */
}
 .aside{
     padding: 10px;
     margin-bottom: 2px;
     background-color: #f2f2f2;
     color: #000000;
     box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*overflow-x: hidden;
    */
     width:200px;
     overflow: scroll;
}
 .aside a {
     padding: 6px 6px 6px 32px;
     text-decoration: none;
     font-size: 15px;
     color: #000000;
     display: inline-block;
}
 .aside a.active {
     background-color: #4CAF50;
     color: white;
}
 .aside a:hover {
     fill:#0D4D6C ;
}
 .row:after {
     content: "";
     display: table;
     clear: both;
}
/* Responsive layout */
 @media screen and (max-width: 600px) {
     .column.side, .column.middle {
         width: 100%;
    }
}
 .pill-nav a {
     display: block;
     color: black;
     padding: 10px;
     text-decoration: none;
     font-size: 15px;
     border-radius:6px;
     line-height:12px;
     FONT-FAMILY:Arial,Helvetica,sans-serif;
}
 .pill-nav a:hover {
     background-color: #ddd;
     color: black;
}
 .pill-nav a.active {
     background-color: dodgerblue;
     color: white;
     font-size: 20px;
}
 .navbar{
     background-color: #ABDCFB;
}
 .page3{
     background-color: #FFFFFF;
     padding:85px;
     padding-left: 20px;
     padding-right: 20px;
}
 .topnav{
     padding:25px;
}
 .content{
     padding:25px;
}
 h1 {
     font-family: "Georgia", Times, serif;
     font-size: 1.5em;
     display: inline;
}
 h6 {
     font-family: "Georgia", Times, serif;
     font-size: 1.05em;
     display: inline;
}
 .col{
     float: right;
}
/*video */
 #myVideo{
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
}
